<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6">
				<h3 class="panel-title">Filter</h3>
			</div>
			<div class="col-xs-6">
				<h3 class="panel-title">Search</h3>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a>Order By</a></li>
					<li role="presentation"><a>Creation Date</a></li>
					<li role="presentation"><a>Due Date</a></li>
                    <li role="presentation"><a>Reset</a></li>
				</ul>
			</div>
			<div class="col-xs-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="searchFild" class="col-sm-3 control-label">Search</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="searchFild" placeholder="Search">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-3 control-label">In column</label>
						<div class="col-sm-9">
							<select class="form-control">
                                <option value="Source Fallout ID" >Source Fallout ID</option>
                            </select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
