<div class="panel panel-primary">
	<div class="panel-heading clickable" (click)="searchFilter()">
		<!--<div class="row">
			<div class="col-xs-6">
				<h3 class="panel-title">Filter</h3>
			</div>
			<div class="col-xs-6">
				<h3 class="panel-title">Search</h3>
			</div>
		</div>-->
		<h3 class="panel-title">Search & Filter</h3>
	</div>
	<div id="collapseOne" class="panel-collapse collapse" [ngClass]="{'in':searchFilterCollapse}">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="row navTabs">
						<div class="col-xs-12">
							<ul class="nav nav-tabs">
								<li role="presentation" class="clickable" [ngClass]="{'active':orderBy}"><a (click)="onOrderBy()"><i class="fa fa-sort" aria-hidden="true"></i> Order By</a></li>
								<li role="presentation" class="clickable" [ngClass]="{'active':creationDate}"><a (click)="onCreationDate()"><i class="fa fa-calendar" aria-hidden="true"></i> Creation Timestamp</a></li>
								<li role="presentation" class="clickable" [ngClass]="{'active':dueDate}"><a (click)="onDueDate()"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Due Date</a></li>
								<li role="presentation" class="clickable" [ngClass]="{'active':reset}"><a (click)="onReset()"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</a></li>
							</ul>
						</div>
					</div>
                    <!--Order By-->
					<div class="row" [hidden]="!orderBy">
						<div class="col-xs-12">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">Column:</label>
									<div class="col-sm-10">
                                        <select name="" id="" class="form-control">
												<option *ngFor="let heading of headings" value="{{heading}}" >{{heading}}</option>
                                        </select>
									</div>
								</div>
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">Order:</label>
									<div class="col-sm-10">
										<select name="" id="" class="form-control">
                                            <option value="asc" >Ascending</option>
                                            <option value="desc" >Descending</option>
                                        </select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End Order By-->
					<!--Creation Date-->
					<div class="row" [hidden]="!creationDate">
						<div class="col-xs-12">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">From:</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="date">
									</div>
								</div>
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">To:</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="date">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End Creation Date-->
					<!--Due Date-->
					<div class="row" [hidden]="!dueDate">

						<div class="col-xs-12">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">From:</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="date">
									</div>
								</div>
								<div class="form-group">
									<label for="date" class="col-sm-2 control-label">To:</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="date">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End Due Date-->
					<!--Reset-->
					<div class="row" [hidden]="!reset">
						<div class="col-xs-12">
							<p>Reset all search & filter options?</p>
							<button class="btn btn-danger">Reset</button>
						</div>
					</div>
					<!--End Reset-->
				</div>
				<hr class="visible-xs"> <!--Divider on mobile-->
				<div class="col-sm-6"> <!--Search-->
					<div class="form-horizontal">
						<div class="form-group">
							<label for="searchFild" class="col-sm-2 control-label">Search:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="searchFild" placeholder="Search">
							</div>
						</div>
						<div class="form-group">
							<label for="selectColumn" class="col-sm-2 control-label">Column:</label>
							<div class="col-sm-10">
								<select id="selectColumn" class="form-control">
                                    <option *ngFor="let column of searchColumns" value="{{column}}">{{column}}</option>
                                </select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-9">
								<button (click)="onApply()" class="btn btn-success">Apply <i class="fa fa-check-circle" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div> <!--Search-->
			</div>
		</div>
	</div>
</div>
