<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Source</th>
			<th>SourceFalloutID</th>
			<th>ErrorCode</th>
			<th>CreationTimestamp</th>
			<th>DueDate</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>AFOM00001</td>
			<td>ORDERMANAGER</td>
			<td>ORDERMANAGER59037</td>
			<td>ERROR4181</td>
			<td>13/03/17 18:04</td>
			<td>24/03/17 18:04</td>
			<td>CREATED</td>
		</tr>
		<tr>
			<td>AFOM00001</td>
			<td>ORDERMANAGER</td>
			<td>ORDERMANAGER59037</td>
			<td>ERROR4181</td>
			<td>13/03/17 18:04</td>
			<td>24/03/17 18:04</td>
			<td>CREATED</td>
		</tr>
		<tr>
			<td>AFOM00001</td>
			<td>ORDERMANAGER</td>
			<td>ORDERMANAGER59037</td>
			<td>ERROR4181</td>
			<td>13/03/17 18:04</td>
			<td>24/03/17 18:04</td>
			<td>CREATED</td>
		</tr>
        <tr>
			<td>AFOM00001</td>
			<td>ORDERMANAGER</td>
			<td>ORDERMANAGER59037</td>
			<td>ERROR4181</td>
			<td>13/03/17 18:04</td>
			<td>24/03/17 18:04</td>
			<td>CREATED</td>
		</tr>
        <tr>
			<td>AFOM00001</td>
			<td>ORDERMANAGER</td>
			<td>ORDERMANAGER59037</td>
			<td>ERROR4181</td>
			<td>13/03/17 18:04</td>
			<td>24/03/17 18:04</td>
			<td>CREATED</td>
		</tr>
	</tbody>
</table>
